.screenHeader {
  @apply fixed w-1/4 top-[8vh] right-[10vw];
}

.screenMain {
  @apply flex-col w-full items-center justify-center;

  > div {
    @apply flex flex-row w-3/4 justify-start;

    > div {
      @apply w-1/3 flex flex-col gap-20;
    }
  }
}

.omission {
  @apply fixed w-full h-full bg-white;
}