.loginScreen {
  @apply justify-center items-center bg-gray-100;

  > div {
    &:first-child {
      @apply hidden;
    }

    &:last-child {
      @apply bg-white shadow-2xl rounded-xl border flex flex-row flex-nowrap justify-center;
      width: 95%;

      @media screen and (min-width: 1020px) and (min-height: 720px) {
        min-height: 600px;
        min-width: 1000px;
        width: 850 / 1440 * 100%;
      }

      @media screen and (min-width: 1020px) and (max-height: 720px) {
        width: 50%;
      }

      @media screen and (min-width: 1600px) and (max-height: 720px) {
        width: 30%;
      }

      @media screen and (min-width: 1920px) and (max-height: 720px) {
        width: 20%;
      }

      @media screen and (min-width: 2560px) and (max-height: 720px) {
        width: 15%;
      }

      > div {
        &:first-child {
          @apply flex flex-col items-center justify-center px-5 py-16;

          @media screen and (max-height: 560px) {
            @apply py-3;
          }

          @media screen and (min-width: 1020px) and (min-height: 720px) {
            width: 400/850 * 100%;
          }

          > div {
            &:nth-child(2) {
              @apply w-full inline-flex items-center justify-center;

              @media screen and (min-width: 1600px) and (min-height: 720px) {
                width: 90%;
              }

              @media screen and (min-width: 1920px) and (min-height: 720px) {
                width: 80%;
              }

              @media screen and (min-width: 2560px) and (min-height: 720px) {
                width: 60%;
              }

              hr {
                @apply w-full h-px my-4 bg-gray-400 border-0 rounded;
              }

              span {
                @apply absolute px-2 text-gray-900 bg-white font-black text-lg;
              }
            }
          }

          @media screen and (min-width: 1600px) and (min-height: 720px) {
            > div, > form {
              width: 90%;
            }
          }

          @media screen and (min-width: 1920px) and (min-height: 720px) {
            > div, > form {
              width: 80%;
            }
          }

          @media screen and (min-width: 2560px) and (min-height: 720px) {
            > div, > form {
              width: 60%;
            }
          }
        }

        &:last-child {
          width: 450/850 * 100%;
          @apply flex items-center justify-center rounded-r;
          background-image: url('/login-side-image.jpg');
          background-size: cover;
          background-position: center center;
          background-color: white;

          @media screen and ((max-width: 1020px) or (max-height: 720px)) {
            display: none;
          }
        }
      }
    }
  }
}