//TODO: Adaptive
.screen {
  @apply right-0 bg-gray-50 grid gap-5 p-5 pb-10;
  width: calc(100% - 4rem);
  grid-template-areas:
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Notices Notices Notices Notices Notices ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Projects Projects Projects Projects Projects ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers ResponsesOffers'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription'
      'Projects Projects Projects Projects Projects . Subscription Subscription Subscription Subscription Subscription';
  grid-template-rows: repeat(23, 1fr);
  grid-template-columns: repeat(11, 1fr);

  > div {
    @apply bg-white border rounded shadow-xl;

    &:nth-child(1) {
      grid-area: Notices;
    }

    &:nth-child(2) {
      grid-area: ResponsesOffers;
    }

    &:nth-child(3) {
      grid-area: Projects;
    }

    &:nth-child(4) {
      grid-area: Subscription;
    }
  }
}