//TODO: Adaptive
.dashboardError {
  @apply flex w-full h-full justify-center items-center text-lg text-center p-5 bg-gray-50 border rounded font-medium tracking-wide;
}

.dashboardNotices, .dashboardProjects, .dashboardResponsesOffers {
  @apply flex flex-col py-5 px-3.5;

  > h2 {
    @apply px-2 py-1 font-medium;
  }

  > ol {
    @apply flex flex-col bg-gray-50 rounded border shadow-sm h-full;
    @apply overflow-x-hidden pointer-events-auto;

    li {
      @apply bg-white border-b flex flex-col;

      * {
        @apply pointer-events-none;
      }

      &:last-child {
        @apply border-none;
      }

      &:nth-child(-n+5) {
        @apply border-b border-solid;
      }
    }
  }
}

.dashboardProject, .dashboardNotice {
  @apply flex flex-row justify-between p-3.5;

  > div {
    &:first-child {
      @apply flex flex-col justify-between;

      > h1 {
        @apply font-light;
      }

      h6 {
        @apply text-xs text-gray-500 font-medium;
      }
    }

    &:last-child {
      @apply flex flex-col;

      > button {
        @apply bg-white text-sm rounded;
        @apply transition ease-in-out pointer-events-auto;

        &:hover {
          @apply bg-gray-100;
        }
      }
    }
  }
}

.dashboardProject {
  > div {
    &:first-child {
      > div {
        @apply flex flex-row justify-between gap-3;
      }
    }

    &:last-child {
      @apply justify-center items-center;

      > button {
        @apply border px-2 py-1 shadow;
      }
    }
  }
}

.dashboardNotice {
  > div {
    &:last-child {
      @apply justify-between items-end gap-2;

      > button {
        > svg {
          @apply w-5 text-gray-500;
        }
      }

      > h6 {
        @apply text-xs text-gray-500 font-medium;
      }
    }
  }
}